body, html {
    font-family: SansSerif, Open Sans, Helvetica, Arial, sans-serif;
	font-size: 11pt;
    background-color: #ffffff;
    color: #000000;
	margin: 0px 0px;
    height: 100%;
    background-image: url("../IMG_4767.JPG"),url("../IMG_4767_SMALL.JPG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

iframe {
    display: block;       /* iframes are inline by default */
    background: #000;
    border: none;         /* Reset default border */
    height: 100vh;        /* Viewport-relative units */
    width: 100vw;
}

h3{
    font-weight: 700;
}

p {
    font-family: SansSerif, Open Sans, Helvetica, Arial, sans-serif;
    font-size: 11pt;
	text-align: justify;
    color: #000000;
}

.tx {
    /* Align text div in page */
    position: relative;
    float: left;
    /*top: 50px;*/
    left: 50%;
    transform: translate(-50%, 0%);
    width: 800px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px 25px;
}

a{
	color: #7f9664;
	text-decoration:none;
}
a:active{
	color: #7f9664;
	text-decoration:none;
}
a:hover{
	color: #000000;
	cursor: pointer;
	text-decoration:none;
}
a:focus{
	color: #7f9664;
	text-decoration:none;
}

li{
    margin: 15px 0;
}

.refs{
	margin-left: 0px;
	text-indent: -40px;}

.mybtn{
    color: #7f9664;
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    padding: 0 0;
    font-weight: bold;
    display: inline-block;
}
.mybtn:hover{
	color: #000000;
	cursor: pointer;
    border: 0;
}
.mybtn:focus{
    outline:0;
}

/*i{
    color: #353535;
    font-size: 48px;
}
i:hover{
    color: #808080;
}*/

td {
    padding-bottom: 15px;
}